{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Enter Details</title>
    <link rel="stylesheet" type="text/css" href="{% static 'firstapp/style.css' %}">
</head>
<body>
    <h1>Enter Your Details</h1>
    <form action="{% url 'result' %}" method="post">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br><br>

        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age"><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>